### Import Packages

In [1]:
# Import packages

import glob
import csv
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

### Append each .txt file into a DataFrame
Each txt file is a row

In [2]:
# Iterate through each file name

#for filename in glob.iglob('./training_set_a/*.txt'):
    
    # Open each file as result
 #   with open(filename) as inputfile:
        
        # list of list
  #      data = list(csv.reader(inputfile))

In [3]:
# Open file

with open('./training_set_a/132539.txt') as inputfile:
    
    results = list(csv.reader(inputfile))           # Open file in list of list
    results = pd.DataFrame(results[1:],columns=results[0])     # Convert list of list to DataFrame
    results.Value = results.Value.astype(float)     # Change Value to float
    
results.head(8)

    Time Parameter     Value
0  00:00  RecordID  132539.0
1  00:00       Age      54.0
2  00:00    Gender       0.0
3  00:00    Height      -1.0
4  00:00   ICUType       4.0
5  00:00    Weight      -1.0
6  00:07       GCS      15.0
7  00:07        HR      73.0

In [4]:
# Pivot_table to convert from long to wide dataset
wide_result = pd.pivot_table(results,values=['Value'],columns='Parameter',index=['Time'])

wide_result.columns = wide_result.columns.droplevel(level=0)
wide_result.reset_index(inplace=True)

In [5]:
wide_result.head(4)

Parameter,Time,Age,BUN,Creatinine,GCS,Gender,Glucose,HCO3,HCT,HR,...,NIMAP,NISysABP,Na,Platelets,RecordID,RespRate,Temp,Urine,WBC,Weight
0,00:00,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,NaN,NaN,-1.0
1,00:07,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,73.0,...,92.33,147.0,NaN,NaN,NaN,19.0,35.1,900.0,NaN,NaN
2,00:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,...,91.00,157.0,NaN,NaN,NaN,19.0,35.6,60.0,NaN,NaN
3,01:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,...,87.00,137.0,NaN,NaN,NaN,18.0,NaN,30.0,NaN,NaN

In [6]:
# Trying to convert time to an 'aggreable' data type

def str_time2(time):
    hours, minutes = map(int, time.split(':'))
    time = (hours,minutes)
    
    return time

def str_time(time):
    hours, minutes = map(int, time.split(':'))
    time = time.format(int(hours),int(minutes))
    return time

#for time in wide_result.index:
 #   hours, minutes = map(int, time.split(':'))
  #  time = (hours,minutes)
   # print time
    
#wide_result.Time = wide_result.Time.apply(str_time)

In [7]:
class patient_details(object):
    """Run description of the patient when admitted on the 48th hour"""
    
    def __init__(self,df = wide_result):
         
        self.record_id = df[df.Time == '00:00']['RecordID'][0]
        self.age = df[df.Time == '00:00']['Age'][0]
        self.gender = df[df.Time == '00:00']['Gender'][0]
        self.height = df[df.Time == '00:00']['Height'][0]
        self.ICUtype = df[df.Time == '00:00']['ICUType'][0]
        self.weight = df[df.Time == '00:00']['Weight'][0]
        
        
    def fill(self,df = wide_result,details='RecordID'):
        """Filling of the NaN values with patient's details can be automated 
        by specifying the descriptor(column) in **kwargs """
        """Default set as RecordID"""
        
        wide_result[details].fillna(value=df[df.Time == '00:00'][details][0],inplace=True)

In [8]:
# Initiate the class patient_details
patient = patient_details()

# Fill NaN values in respective descriptor columns
patient.fill()
patient.fill(details='Age')
patient.fill(details='Gender')
patient.fill(details='Height')
patient.fill(details='ICUType')
patient.fill(details='Weight')

In [16]:
wide_result

Parameter,Time,Age,BUN,Creatinine,GCS,Gender,Glucose,HCO3,HCT,HR,...,NIMAP,NISysABP,Na,Platelets,RecordID,RespRate,Temp,Urine,WBC,Weight
0,00:00,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,NaN,NaN,-1.0
1,00:07,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,73.0,...,92.33,147.0,NaN,NaN,132539.0,19.0,35.1,900.0,NaN,-1.0
2,00:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,77.0,...,91.00,157.0,NaN,NaN,132539.0,19.0,35.6,60.0,NaN,-1.0
3,01:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,60.0,...,87.00,137.0,NaN,NaN,132539.0,18.0,NaN,30.0,NaN,-1.0
4,02:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,62.0,...,75.67,123.0,NaN,NaN,132539.0,19.0,NaN,170.0,NaN,-1.0
5,03:08,54.0,NaN,NaN,NaN,0.0,NaN,NaN,33.7,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,NaN,NaN,-1.0
6,03:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,80.0,...,72.67,114.0,NaN,NaN,132539.0,20.0,37.8,60.0,NaN,-1.0
7,04:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,74.0,...,NaN,NaN,NaN,NaN,132539.0,20.0,NaN,NaN,NaN,-1.0
8,05:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,73.0,...,66.67,110.0,NaN,NaN,132539.0,17.0,NaN,170.0,NaN,-1.0
9,07:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,64.0,...,68.33,107.0,NaN,NaN,132539.0,15.0,38.1,120.0,NaN,-1.0
10,08:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,64.0,...,71.33,102.0,NaN,NaN,132539.0,14.0,NaN,80.0,NaN,-1.0
11,09:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,66.0,...,70.00,114.0,NaN,NaN,132539.0,17.0,NaN,100.0,NaN,-1.0
12,10:37,54.0,13.0,0.8,NaN,0.0,205.0,26.0,33.5,61.0,...,77.67,109.0,137.0,221.0,132539.0,15.0,NaN,60.0,11.2,-1.0
13,11:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,58.0,...,60.33,101.0,NaN,NaN,132539.0,15.0,37.6,80.0,NaN,-1.0
14,12:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,58.0,...,60.00,100.0,NaN,NaN,132539.0,12.0,NaN,50.0,NaN,-1.0
15,13:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,60.0,...,66.00,104.0,NaN,NaN,132539.0,15.0,NaN,60.0,NaN,-1.0
16,14:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,63.0,...,NaN,NaN,NaN,NaN,132539.0,15.0,NaN,NaN,NaN,-1.0
17,15:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,69.0,...,70.00,112.0,NaN,NaN,132539.0,12.0,36.9,120.0,NaN,-1.0
18,16:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,61.0,...,58.67,96.0,NaN,NaN,132539.0,14.0,NaN,NaN,NaN,-1.0
19,17:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,65.0,...,61.33,98.0,NaN,NaN,132539.0,13.0,NaN,140.0,NaN,-1.0
20,18:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,77.0,...,NaN,NaN,NaN,NaN,132539.0,18.0,NaN,NaN,NaN,-1.0
21,19:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,60.0,...,74.67,114.0,NaN,NaN,132539.0,13.0,37.3,80.0,NaN,-1.0
22,20:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,62.0,...,NaN,NaN,NaN,NaN,132539.0,12.0,NaN,NaN,NaN,-1.0
23,21:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,73.0,...,63.33,102.0,NaN,NaN,132539.0,20.0,NaN,70.0,NaN,-1.0
24,22:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,66.0,...,62.67,104.0,NaN,NaN,132539.0,15.0,NaN,80.0,NaN,-1.0
25,23:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,71.0,...,61.67,103.0,NaN,NaN,132539.0,24.0,37.1,40.0,NaN,-1.0
26,24:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,100.0,NaN,-1.0
27,25:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,67.0,...,67.00,105.0,NaN,NaN,132539.0,16.0,NaN,130.0,NaN,-1.0
28,26:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,19.0,NaN,NaN,NaN,-1.0
29,27:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,80.0,...,60.67,104.0,NaN,NaN,132539.0,18.0,37.9,200.0,NaN,-1.0
30,28:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,80.0,NaN,-1.0
31,29:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,80.0,...,63.33,108.0,NaN,NaN,132539.0,16.0,NaN,100.0,NaN,-1.0
32,30:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,450.0,NaN,-1.0
33,31:37,54.0,NaN,NaN,14.0,0.0,NaN,NaN,NaN,78.0,...,65.00,109.0,NaN,NaN,132539.0,18.0,38.1,220.0,NaN,-1.0
34,32:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,210.0,NaN,-1.0
35,33:07,54.0,8.0,0.7,NaN,0.0,115.0,28.0,30.3,NaN,...,NaN,NaN,136.0,185.0,132539.0,NaN,NaN,NaN,9.4,-1.0
36,33:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,85.0,...,68.33,113.0,NaN,NaN,132539.0,18.0,NaN,240.0,NaN,-1.0
37,34:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,100.0,NaN,-1.0
38,35:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,83.0,...,75.67,129.0,NaN,NaN,132539.0,20.0,38.2,100.0,NaN,-1.0
39,36:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,NaN,NaN,50.0,NaN,-1.0
40,37:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,84.0,...,70.33,117.0,NaN,NaN,132539.0,24.0,NaN,120.0,NaN,-1.0
41,38:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,21.0,NaN,NaN,NaN,-1.0
42,39:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,73.0,...,78.67,122.0,NaN,NaN,132539.0,16.0,37.9,450.0,NaN,-1.0
43,40:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,77.0,...,72.00,110.0,NaN,NaN,132539.0,18.0,NaN,NaN,NaN,-1.0
44,41:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,73.0,...,69.67,109.0,NaN,NaN,132539.0,14.0,NaN,450.0,NaN,-1.0
45,42:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,87.67,129.0,NaN,NaN,132539.0,23.0,NaN,NaN,NaN,-1.0
46,43:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,73.0,...,82.67,120.0,NaN,NaN,132539.0,17.0,37.6,250.0,NaN,-1.0
47,44:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,20.0,NaN,NaN,NaN,-1.0
48,45:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,84.0,...,81.33,132.0,NaN,NaN,132539.0,20.0,NaN,300.0,NaN,-1.0
49,46:37,54.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132539.0,20.0,NaN,NaN,NaN,-1.0
50,47:37,54.0,NaN,NaN,15.0,0.0,NaN,NaN,NaN,86.0,...,79.33,128.0,NaN,NaN,132539.0,23.0,37.8,280.0,NaN,-1.0

In [10]:
# Connect to database

conn = psycopg2.connect(host="localhost",dbname="mortality")
cur = conn.cursor()

## EDA

### 1. Check if the data is unbalanced

In [11]:
# Open outcomes file

with open('./training_outcomes_a.txt') as outcomefile:
    
    # Open file in list of list
    
    outcome = list(csv.reader(outcomefile))
    
outcome = pd.DataFrame(outcome[1:],columns=outcome[0])    # Convert list of list to DataFrame
outcome = outcome.astype(float,'ignore')    # Change values to float

In [12]:
# Count the number of positives in dataset
# Positives = 1 = Death, Negative = 0 = Survived

def imbalance_check(column,labels):
    """labels can be a list or a tuple."""
    
    for x in labels:
        label = float(column[column == x].count())
        total = float(column.count())
        
        percentage = float((label/total)*100)
        
        print 'percentage of',x,'in dataset:',percentage,'%'

In [13]:
imbalance_check(outcome['In-hospital_death'],[0,1])    # Conclude that this is an imbalanced dataset

percentage of 0 in dataset: 86.15 %
percentage of 1 in dataset: 13.85 %

### 2. Create outcomes table in database

In [14]:
outcome.head(5)

   RecordID  SAPS-I  SOFA  Length_of_stay  Survival  In-hospital_death
0  132539.0     6.0   1.0             5.0      -1.0                0.0
1  132540.0    16.0   8.0             8.0      -1.0                0.0
2  132541.0    21.0  11.0            19.0      -1.0                0.0
3  132543.0     7.0   1.0             9.0     575.0                0.0
4  132545.0    17.0   2.0             4.0     918.0                0.0

In [15]:
pd.to_sql()

AttributeError: 'module' object has no attribute 'to_sql'