<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:20px;">
<span style="color:purple;font-size:13pt"><b>Data Dictionary</span></b>
</div>

<div style="width:900px;float:left;padding:20px;align:left;">
Descriptors:
<br><br>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-2lp6{font-weight:bold;background-color:#bbdaff;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-36xf{font-weight:bold;background-color:#bbdaff}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-yw42{vertical-align:top;color:blue}
</style>
<table class="tg">

  <tr>
    <th class="tg-36xf">Feature Name</th>
    <th class="tg-2lp6">Description</th>
    <th class="tg-2lp6">Metrics</th>
  </tr>
          
<tr>
    <td class="tg-yw4l">RecordID</td>
    <td class="tg-yw4l">A unique integer for each ICU stay </td>
    <td class="tg-yw4l">Integer</td>
</tr>
<tr>
    <td class="tg-yw4l">Age</td>
    <td class="tg-yw4l">Age</td>
    <td class="tg-yw4l">(years)</td>
</tr>

<tr>
    <td class="tg-yw4l">Height</td>
    <td class="tg-yw4l">Height</td>
    <td class="tg-yw4l">(cm)</td>
</tr>

<tr>
    <td class="tg-yw4l">ICUtype</td>
    <td class="tg-yw4l">ICU Type</td>
    <td class="tg-yw4l">(1: Coronary Care Unit, 2: Cardiac Surgery Recovery Unit, <br>3: Medical ICU, or 4: Surgical ICU)</td>
</tr>

<tr>
    <td class="tg-yw4l">Gender</td>
    <td class="tg-yw4l">Gender</td>
    <td class="tg-yw4l">(0: female, or 1: male)</td>
</tr>

</table>
<br><br>
These 37 variables may be observed once, more than once, or not at all in some cases:
<br><br>

<table class="tg">
<tr>
    <th class="tg-36xf">Feature Name</th>
    <th class="tg-2lp6">Description</th>
    <th class="tg-2lp6">Metrics</th>
</tr>
          
<tr>
    <td class="tg-yw4l">Albumin</td>
    <td class="tg-yw4l">Albumin </td>
    <td class="tg-yw4l">(g/dL)</td>
</tr>
<tr>
    <td class="tg-yw4l">ALP</td>
    <td class="tg-yw4l">Alkaline phosphatase</td>
    <td class="tg-yw4l">(IU/L)</td>
</tr>
<tr>
<td class="tg-yw4l">ALT</td>
<td class="tg-yw4l">Alanine transaminase</td> 
<td class="tg-yw4l">(IU/L)</td>
</tr>
<tr>
<td class="tg-yw4l">AST</td>
<td class="tg-yw4l">Aspartate transaminase</td>
<td class="tg-yw4l">(IU/L)</td>
</tr>
<tr>
<td class="tg-yw4l">Bilirubin</td>
<td class="tg-yw4l">Bilirubin</td>
<td class="tg-yw4l">(mg/dL)</td>
</tr>
<tr>
<td class="tg-yw4l">BUN</td>
<td class="tg-yw4l">Blood urea nitrogen</td>
<td class="tg-yw4l">(mg/dL)</td>
</tr>
<tr>
<td class="tg-yw4l">Cholesterol</td>
<td class="tg-yw4l">Cholesterol</td>
<td class="tg-yw4l">(mg/dL)</td>
</tr>
<tr>
<td class="tg-yw4l">Creatinine</td>
<td class="tg-yw4l">Serum creatinine</td>
<td class="tg-yw4l">(mg/dL)</td>
</tr>

<tr>
<td class="tg-yw4l">DiasABP <td class="tg-yw4l">Invasive diastolic arterial blood pressure <td class="tg-yw4l">(mmHg)</tr>

<tr><td class="tg-yw4l">FiO2 <td class="tg-yw4l">Fractional inspired O2 <td class="tg-yw4l">(0-1)</tr>
<tr><td class="tg-yw4l">GCS <td class="tg-yw4l">Glasgow Coma Score <td class="tg-yw4l">(3-15)</tr>
<tr><td class="tg-yw4l">Glucose <td class="tg-yw4l">Serum glucose <td class="tg-yw4l">(mg/dL)</tr>
<tr><td class="tg-yw4l">HCO3 <td class="tg-yw4l">Serum bicarbonate <td class="tg-yw4l">(mmol/L)</tr>
<tr><td class="tg-yw4l">HCT <td class="tg-yw4l">Hematocrit <td class="tg-yw4l">(%)</tr>
<tr><td class="tg-yw4l">HR <td class="tg-yw4l">Heart rate <td class="tg-yw4l">(bpm)</tr>
<tr><td class="tg-yw4l">K <td class="tg-yw4l">Serum potassium <td class="tg-yw4l">(mEq/L)</tr>
<tr><td class="tg-yw4l">Lactate <td class="tg-yw4l">Lactate<td class="tg-yw4l">(mmol/L)</tr>
<tr><td class="tg-yw4l">Mg <td class="tg-yw4l">Serum magnesium <td class="tg-yw4l">(mmol/L)</tr>
<tr><td class="tg-yw4l">MAP <td class="tg-yw4l">Invasive mean arterial blood pressure <td class="tg-yw4l">(mmHg)</tr>
<tr><td class="tg-yw4l">MechVent <td class="tg-yw4l">Mechanical ventilation respiration <td class="tg-yw4l">(0:false, or 1:true)</tr>
<tr><td class="tg-yw4l">Na <td class="tg-yw4l">Serum sodium <td class="tg-yw4l">(mEq/L)</tr>
<tr><td class="tg-yw4l">NIDiasABP <td class="tg-yw4l">Non-invasive diastolic arterial blood pressure <td class="tg-yw4l">(mmHg)</tr>
<tr><td class="tg-yw4l">NIMAP <td class="tg-yw4l">Non-invasive mean arterial blood pressure <td class="tg-yw4l">(mmHg)</tr>
<tr><td class="tg-yw4l">NISysABP <td class="tg-yw4l">Non-invasive systolic arterial blood pressure <td class="tg-yw4l">(mmHg)</tr>
<tr><td class="tg-yw4l">PaCO2 <td class="tg-yw4l">partial pressure of arterial CO2 <td class="tg-yw4l">(mmHg)</tr>
<tr><td class="tg-yw4l">PaO2 <td class="tg-yw4l">Partial pressure of arterial O2 <td class="tg-yw4l">(mmHg)</tr>
<tr><td class="tg-yw4l">pH <td class="tg-yw4l">Arterial pH <td class="tg-yw4l">(0-14)</tr>
<tr><td class="tg-yw4l">Platelets <td class="tg-yw4l">Platelets<td class="tg-yw4l">(cells/nL)</tr>
<tr><td class="tg-yw4l">RespRate <td class="tg-yw4l">Respiration rate <td class="tg-yw4l">(bpm)</tr>
<tr><td class="tg-yw4l">SaO2 <td class="tg-yw4l">O2 saturation in hemoglobin <td class="tg-yw4l">(%)</tr>
<tr><td class="tg-yw4l">SysABP <td class="tg-yw4l">Invasive systolic arterial blood pressure <td class="tg-yw4l">(mmHg)</tr>
<tr><td class="tg-yw4l">Temp <td class="tg-yw4l">Temperature <td class="tg-yw4l">(°C)</tr>
<tr><td class="tg-yw4l">TropI <td class="tg-yw4l">Troponin-I <td class="tg-yw4l">(μg/L)</tr>
<tr><td class="tg-yw4l">TropT <td class="tg-yw4l">Troponin-T <td class="tg-yw4l">(μg/L)</tr>
<tr><td class="tg-yw4l">Urine <td class="tg-yw4l">Urine output <td class="tg-yw4l">(mL)</tr>
<tr><td class="tg-yw4l">WBC <td class="tg-yw4l">White blood cell count <td class="tg-yw4l">(cells/nL)</tr>
<tr><td class="tg-yw4l">Weight <td class="tg-yw4l">Weight<td class="tg-yw4l">(kg)</tr></table>

<br><br>
Outcomes-Related Descriptors:

<table class="tg">
<tr>
    <th class="tg-36xf">Outcomes</th>
    <th class="tg-2lp6">Description</th>
    <th class="tg-2lp6">Metrics</th>
</tr>
          
<tr>
    <td class="tg-yw4l">SAPS-I score</td>
    <td class="tg-yw4l">(Le Gall et al., 1984) </td>
    <td class="tg-yw4l">between 0 to 163</td>
</tr>
  
<tr>
    <td class="tg-yw4l">SOFA score</td>
    <td class="tg-yw4l">(Ferreira et al., 2001) </td>
    <td class="tg-yw4l">between 0 to 4</td>
</tr>
  
<tr>
    <td class="tg-yw4l">Length of stay</td>
    <td class="tg-yw4l">Length of stay </td>
    <td class="tg-yw4l">(days)</td>
</tr>

<tr>
    <td class="tg-yw4l">Survival</td>
    <td class="tg-yw4l">Survival</td>
    <td class="tg-yw4l">(days)</td>
</tr>

<tr>
    <td class="tg-yw42"><b>In-hospital death</b></td>
    <td class="tg-yw42"><b>Target Variable</b></td>
    <td class="tg-yw42"><b>(0: survivor, or 1: died in-hospital)</b></td>
</tr>

<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:20px;">

<span style="color:purple;font-size:13pt"><b>Import Packages</span></b>

</div>

In [4]:
# Import packages

import csv
import pandas as pd
import numpy as np

import re

from sklearn.base import BaseEstimator, TransformerMixin

from fancyimpute import KNN

pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows',200)

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [5]:
mortality = pd.read_csv('mortality.csv')

In [14]:
mortality.head()

,recordid,age,first_albumin,first_alp,first_alt,first_ast,first_bilirubin,first_bun,first_cholesterol,first_creatinine,first_diasabp,first_fio2,first_gcs,first_glucose,first_hco3,first_hct,first_hr,first_k,first_lactate,first_map,first_mechvent,first_mg,first_na,first_nidiasabp,first_nimap,first_nisysabp,first_paco2,first_pao2,first_ph,first_platelets,first_resprate,first_sao2,first_sysabp,first_temp,first_troponini,first_troponint,first_urine,first_wbc,first_weight,gender,height,icutype,last_albumin,last_alp,last_alt,last_ast,last_bilirubin,last_bun,last_cholesterol,last_creatinine,last_diasabp,last_fio2,last_gcs,last_glucose,last_hco3,last_hct,last_hr,last_k,last_lactate,last_map,last_mechvent,last_mg,last_na,last_nidiasabp,last_nimap,last_nisysabp,last_paco2,last_pao2,last_ph,last_platelets,last_resprate,last_sao2,last_sysabp,last_temp,last_troponini,last_troponint,last_urine,last_wbc,last_weight,max_albumin,max_alp,max_alt,max_ast,max_bilirubin,max_bun,max_cholesterol,max_creatinine,max_diasabp,max_fio2,max_gcs,max_glucose,max_hco3,max_hct,max_hr,max_k,max_lactate,max_map,max_mechvent,max_mg,max_na,max_nidiasabp,max_nimap,max_nisysabp,max_paco2,max_pao2,max_ph,max_platelets,max_resprate,max_sao2,max_sysabp,max_temp,max_troponini,max_troponint,max_urine,max_wbc,max_weight,mean_albumin,mean_alp,mean_alt,mean_ast,mean_bilirubin,mean_bun,mean_cholesterol,mean_creatinine,mean_diasabp,mean_fio2,mean_gcs,mean_glucose,mean_hco3,mean_hct,mean_hr,mean_k,mean_lactate,mean_map,mean_mechvent,mean_mg,mean_na,mean_nidiasabp,mean_nimap,mean_nisysabp,mean_paco2,mean_pao2,mean_ph,mean_platelets,mean_resprate,mean_sao2,mean_sysabp,mean_temp,mean_troponini,mean_troponint,mean_urine,mean_wbc,mean_weight,min_albumin,min_alp,min_alt,min_ast,min_bilirubin,min_bun,min_cholesterol,min_creatinine,min_diasabp,min_fio2,min_gcs,min_glucose,min_hco3,min_hct,min_hr,min_k,min_lactate,min_map,min_mechvent,min_mg,min_na,min_nidiasabp,min_nimap,min_nisysabp,min_paco2,min_pao2,min_ph,min_platelets,min_resprate,min_sao2,min_sysabp,min_temp,min_troponini,min_troponint,min_urine,min_wbc,min_weight,saps-i,sofa,length_of_stay,survival,in-hospital_death
0,132539.0,54.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,0.8,NaN,NaN,15.0,205.0,26.0,33.7,73.0,4.4,NaN,NaN,NaN,1.5,137.0,65.0,92.33,147.0,NaN,NaN,NaN,221.0,19.0,NaN,NaN,35.1,NaN,NaN,900.0,11.2,NaN,0.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,0.7,NaN,NaN,15.0,115.0,28.0,30.3,86.0,4.0,NaN,NaN,NaN,1.9,136.0,55.0,79.33,128.0,NaN,NaN,NaN,185.0,23.0,NaN,NaN,37.8,NaN,NaN,280.0,9.4,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,0.8,NaN,NaN,15.0,205.0,28.0,33.7,86.0,4.4,NaN,NaN,NaN,1.9,137.0,67.0,92.33,157.0,NaN,NaN,NaN,221.0,24.0,NaN,NaN,38.2,NaN,NaN,900.0,11.2,NaN,NaN,NaN,NaN,NaN,NaN,10.500000,NaN,0.750000,NaN,NaN,14.923077,160.000000,27.000000,32.500000,70.810811,4.20,NaN,NaN,NaN,1.700000,136.500000,50.147059,71.559118,114.382353,NaN,NaN,NaN,203.000000,17.428571,NaN,NaN,37.357143,NaN,NaN,171.052632,10.300000,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,0.7,NaN,NaN,14.0,115.0,26.0,30.3,58.0,4.0,NaN,NaN,NaN,1.5,136.0,39.0,58.67,96.0,NaN,NaN,NaN,185.0,12.0,NaN,NaN,35.1,NaN,NaN,0.0,9.4,NaN,6.0,1.0,5.0,-1.0,0.0
1,132540.0,76.0,NaN,NaN,NaN,NaN,NaN,16.0,NaN,0.8,67.0,1.0,3.0,105.0,21.0,24.7,88.0,4.3,NaN,79.0,1.0,3.1,139.0,38.0,49.33,72.0,34.0,344.0,7.45,164.0,NaN,99.0,105.0,35.2,NaN,NaN,770.0,7.4,76.0,1.0,175.3,2.0,NaN,NaN,NaN,NaN,NaN,21.0,NaN,1.3,51.0,0.4,15.0,146.0,24.0,29.4,65.0,3.5,NaN,69.0,1.0,1.9,135.0,49.0,68.33,107.0,46.0,140.0,7.37,135.0,NaN,97.0,103.0,37.1,NaN,NaN,220.0,13.3,81.6,NaN,NaN,NaN,NaN,NaN,21.0,NaN,1.3,81.0,1.0,15.0,146.0,24.0,30.7,90.0,4.3,NaN,100.0,1.0,3.1,139.0,67.0,88.33,131.0,46.0,445.0,7.45,226.0,NaN,99.0,138.0,37.9,NaN,NaN,770.0,13.3,81.6,NaN,NaN,NaN,NaN,NaN,18.333333,NaN,1.100000,58.897059,0.56,13.333333,125.500000,22.333333,28.655556,80.794118,3.90,NaN,76.940299,1.0,2.300000,137.000000,56.714286,75.308571,112.500000,38.857143,210.142857,7.395,178.600000,NaN,96.833333,113.411765,36.939130,NaN,NaN,151.560976,11.266667,80.670588,NaN,NaN,NaN,NaN,NaN,16.0,NaN,0.8,32.0,0.4,3.0,105.0,21.0,24.7,65.0,3.5,NaN,43.0,1.0,1.9,135.0,38.0,49.33,72.0,33.0,82.0,7.34,135.0,NaN,93.0,66.0,34.5,NaN,NaN,0.0,7.4,76.0,16.0,8.0,8.0,-1.0,0.0
2,132541.0,44.0,2.7,127.0,91.0,235.0,3.0,8.0,NaN,0.4,81.0,1.0,7.0,141.0,24.0,28.5,100.0,3.3,1.3,107.0,1.0,1.9,137.0,84.0,100.30,133.0,37.0,65.0,7.51,72.0,NaN,95.0,148.0,37.8,NaN,NaN,100.0,4.2,56.7,0.0,NaN,3.0,2.3,105.0,75.0,164.0,2.8,3.0,NaN,0.3,70.0,0.4,5.0,143.0,25.0,29.4,71.0,3.7,0.9,92.0,1.0,1.7,138.0,84.0,103.00,141.0,37.0,173.0,7.47,113.0,NaN,95.0,126.0,37.2,NaN,NaN,35.0,6.2,56.7,2.7,127.0,91.0,235.0,3.0,8.0,NaN,0.4,81.0,1.0,8.0,143.0,26.0,29.4,113.0,8.6,1.9,107.0,1.0,1.9,140.0,95.0,110.00,150.0,37.0,232.0,7.51,113.0,NaN,95.0,148.0,39.0,NaN,NaN,425.0,6.2,56.7,2.5,116.0,83.0,199.5,2.9,4.666667,NaN,0.333333,67.125000,0.50,5.923077,134.333333,25.000000,28.460000,83.759259,4.26,1.366667,90.437500,1.0,1.720000,138.333333,79.000000,96.751316,132.263158,35.500000,134.500000,7.495,89.666667,NaN,95.000000,125.687500,37.800000,NaN,NaN,124.951220,4.700000,56.700000,2.3,105.0,75.0,164.0,2.8,3.0,NaN,0.3,52.0,0.4,5.0,119.0,24.0,26.7,57.0,2.3,0.9,72.0,1.0,1.3,137.0,66.0,83.33,111.0,33.0,65.0,7.47,72.0,NaN,95.0,103.0,36.7,NaN,NaN,18.0,3.7,56.7,21.0,11.0,19.0,-1.0,0.0
3,132543.0,68.0,4.4,105.0,12.0,15.0,0.2,23.0,NaN,0.9,NaN,NaN,15.0,129.0,28.0,41.3,79.0,4.0,NaN,NaN,NaN,2.1,140.0,63.0,86.67,134.0,NaN,NaN,NaN,391.0,19.0,NaN,NaN,36.3,NaN,NaN,600.0,11.5,84.6,1.0,180.3,3.0,4.4,105.0,12.0,15.0,0.2,10.0,NaN,0.7,NaN,NaN,15.0,117.0,28.0,36.3,79.0,3.8,NaN,NaN,NaN,1.9,137.0,81.0,98.67,134.0,NaN,NaN,NaN,284.0,22.0,NaN,NaN,37.0,NaN,NaN,550.0,7.9,84.6,4.4,105.0,12.0,15.0,0.2,23.0,NaN,0.9,NaN,NaN,15.0,129.0,28.0,41.3,88.0,4.2,NaN,NaN,NaN,2.1,141.0,81.0,100.70,140.0,NaN,NaN,NaN,391.0,24.0,NaN,NaN,37.0,NaN,NaN,700.0,11.5,84.6,4.4,105.0,12.0,15.0,0.2,17.666667,NaN,0.766667,NaN,NaN,14.944444,117.333333,27.666667,37.442857,70.983333,4.00,NaN,NaN,NaN,2.033333,139.333333,65.051724,83.885517,121.551724,NaN,NaN,NaN,330.000000,15.457627,NaN,NaN,36.223077,NaN,NaN,545.833333,9.400000,84.600000,4.4,105.0,12.0,15.0,0.2,10.0,NaN,0.7,NaN,NaN,14.0,106.0,27.0,36.1,57.0,3.8,NaN,NaN,NaN,1.9,137.0,45.0,68.33,102.0,NaN,NaN,NaN,284.0,6.0,NaN,NaN,35.1,NaN,NaN,100.0,7.9,84.6,7.0,1.0,9.0,575.0,0.0
4,132545.0,88.0,3.3,NaN,NaN,NaN,NaN,45.0,NaN,1.0,NaN,NaN,15.0,113.0,18.0,22.6,93.0,6.0,NaN,NaN,NaN,1.5,140.0,41.0,75.33,144.0,NaN,NaN,NaN,109.0,24.0,NaN,NaN,37.8,NaN,NaN,140.0,3.8,NaN,0.0,NaN,3.0,3.3,NaN,NaN,NaN,NaN,25.0,NaN,1.0,NaN,NaN,15.0,92.0,20.0,30.9,68.0,4.1,NaN,NaN,NaN,1.6,139.0,42.0,73.00,135.0,NaN,NaN,NaN,97.0,16.0,NaN,NaN,36.7,NaN,NaN,80.0,4.8,NaN,3.3,NaN,NaN,NaN,NaN,45.0,NaN,1.0,NaN,NaN,15.0,113.0,20.0,32.4,94.0,6.0,NaN,NaN,NaN,1.6,140.0,96.0,105.70,157.0,NaN,NaN,NaN,109.0,27.0,NaN,NaN,37.8,NaN,NaN,220.0,4.8,NaN,3.3,NaN,NaN,NaN,NaN,35.000000,NaN,1.000000,NaN,NaN,15.000000,102.500000,19.000000,29.550000,74.958333,4.32,NaN,NaN,NaN,1.550000,139.500000,45.720930,74.946512,133.395349,NaN,NaN,NaN,103.000000,19.166667,NaN,NaN,36.880000,NaN,NaN,62.131579,4.300000,NaN,3.3,NaN,NaN,NaN,NaN,25.0,NaN,1.0,NaN,NaN,15.0,92.0,18.0,22.6,65.0,3.8,NaN,NaN,NaN,1.5,139.0,26.0,52.33,105.0,NaN,NaN,NaN,97.0,13.0,NaN,NaN,35.8,NaN,NaN,16.0,3.8,NaN,17.0,2.0,4.0,918.0,0.0

<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:20px;">

<p>

<span style="color:purple;font-size:13pt"><b>Data Cleaning</span></b>
<br><br>
<b>Step 1:</b> Drop all columns with more than 25% NaN values
<br><b>Step 2:</b> Drop all rows with more than 50% NaN values
<br><b>Step 3:</b> Drop all other outcomes labels except 'in-hospital_death'
</div>

In [19]:
class DropNaN(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        pass
        
    
    def remove_columns_(self,df,drop_col=1000):
        """remove columns with more than 1000 NaN values"""
        
        null_col = df.isnull().sum()
        df = df.drop(null_col[null_col > drop_col].index,axis=1)
        
        return df
    
    def remove_rows_(self,df,drop_row=57):
        
        df['NaNs'] = df.isnull().sum(axis=1)
        df = df.drop(df[df['NaNs']>drop_row].index)
        
        return df
    
    def drop_deslabels_(self,df,deslabels=['saps-i','sofa','length_of_stay','survival']):
        
        df = df.drop(deslabels,axis=1)
        
        return df
    
    def transform(self, main_df, *args):
        
        main_df = self.remove_columns_(main_df)
        main_df = self.remove_rows_(main_df)
        main_df = self.drop_deslabels_(main_df)
        
        self.feature_names = main_df.columns
        
        return main_df

    def fit(self, main_df, *args):
        return self

In [21]:
dropnan = DropNaN()
mortality = dropnan.transform(mortality)

<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:20px;">

<p>

<span style="color:purple;font-size:13pt"><b>Imputing Missing Data</span></b>
<br><br><b>2:</b> Impute values based on KNN
</div>

In [7]:
mortality.isnull().sum()

recordid               0
age                    0
first_bun             30
first_creatinine      30
first_gcs             58
first_glucose         79
first_hco3            42
first_hct             31
first_hr              58
first_k               62
first_mg              69
first_na              41
first_nidiasabp      507
first_nimap          509
first_nisysabp       497
first_paco2          946
first_pao2           946
first_ph             929
first_platelets       33
first_temp            58
first_urine          111
first_wbc             38
first_weight         314
gender                 3
icutype                0
last_bun              30
last_creatinine       30
last_gcs              58
last_glucose          79
last_hco3             42
last_hct              31
last_hr               58
last_k                62
last_mg               69
last_na               41
last_nidiasabp       507
last_nimap           509
last_nisysabp        497
last_paco2           946
last_pao2            946
last_ph              929
last_platelets        33
last_temp             58
last_urine           111
last_wbc              38
last_weight          286
max_bun               30
max_creatinine        30
max_gcs               58
max_glucose           79
max_hco3              42
max_hct               31
max_hr                58
max_k                 62
max_mg                69
max_na                41
max_nidiasabp        507
max_nimap            509
max_nisysabp         497
max_paco2            946
max_pao2             946
max_ph               929
max_platelets         33
max_temp              58
max_urine            111
max_wbc               38
max_weight           286
mean_bun              30
mean_creatinine       30
mean_gcs              58
mean_glucose          79
mean_hco3             42
mean_hct              31
mean_hr               58
mean_k                62
mean_mg               69
mean_na               41
mean_nidiasabp       507
mean_nimap           509
mean_nisysabp        497
mean_paco2           946
mean_pao2            946
mean_ph              929
mean_platelets        33
mean_temp             58
mean_urine           111
mean_wbc              38
mean_weight          286
min_bun               30
min_creatinine        30
min_gcs               58
min_glucose           79
min_hco3              42
min_hct               31
min_hr                58
min_k                 62
min_mg                69
min_na                41
min_nidiasabp        507
min_nimap            509
min_nisysabp         497
min_paco2            946
min_pao2             946
min_ph               929
min_platelets         33
min_temp              58
min_urine            111
min_wbc               38
min_weight           314
in-hospital_death      0
dtype: int64

<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:20px;">

<p>

<span style="color:purple;font-size:13pt"><b>Finding the best K</span></b>
<br><br>
(for each column)
<br><br>
<b>Step 1:</b> Extract rows with no missing values for a particular column (train set)
<br>
<b>Step 2:</b> Do a CV on on train set find optimal K
<br>
<b>Step 3:</b> Use optimal K on KNN fancyimpute
</div>

In [12]:
# Obtain one subset

subset_col = mortality.columns[mortality.columns.str.contains('mean_\w+')]
subset_mortality = mortality[subset_col]

In [13]:
subset_mortality.isnull().sum()

mean_bun            30
mean_creatinine     30
mean_gcs            58
mean_glucose        79
mean_hco3           42
mean_hct            31
mean_hr             58
mean_k              62
mean_mg             69
mean_na             41
mean_nidiasabp     507
mean_nimap         509
mean_nisysabp      497
mean_paco2         946
mean_pao2          946
mean_ph            929
mean_platelets      33
mean_temp           58
mean_urine         111
mean_wbc            38
mean_weight        286
dtype: int64

In [51]:
# Loop through each column

def find_best_k_cls(X, y, k_min=1, k_max=51, step=1, cv=5):
    
    k_range = range(k_min, k_max+1, step)
    accs = []
    
    for k in k_range:
        
        knn = KNeighborsRegressor(n_neighbors=k,weights='distance')
        scores = cross_val_score(knn, X, y, cv=cv)
        accs.append(np.mean(scores))

        
    print 'accuracy:',np.max(accs),'best k:',k_range[np.argmax(accs)]
    return (np.max(accs),k_range[np.argmax(accs)])

best_ks = []
feature_list = []

for feature in subset_mortality.columns:
    
    impute_missing = subset_mortality.loc[subset_mortality[feature].isnull(), :]  # test
    impute_valid = subset_mortality.loc[~subset_mortality[feature].isnull(), :]   # train
    
    y = impute_valid[feature].values
    X = impute_valid.drop([feature],axis=1)
    
    # Standard Scale 

    scaled_array = []

    for col in X.columns:

        masked_X = np.ma.array(X[col], mask=np.isnan(X[col]))

        masked_mean = np.mean(masked_X)
        masked_std = np.std(masked_X)

        scaled_col = np.array((masked_X - masked_mean)/masked_std)

        scaled_array.append(scaled_col)

    np.transpose(scaled_array)
    Xn = pd.DataFrame(data=np.transpose(scaled_array),columns=X.columns,index=X.index)
    
    Xn.fillna(Xn.mean(),inplace=True)
    
    feature_list.append(feature)
    best_ks.append(find_best_k_cls(Xn,y))
    
    print feature,find_best_k_cls(Xn,y)

accuracy: 0.457916808193 best k: 8
mean_bun accuracy: 0.457916808193 best k: 8
(0.45791680819271596, 8)
accuracy: 0.427825948718 best k: 8
mean_creatinine accuracy: 0.427825948718 best k: 8
(0.42782594871808322, 8)
accuracy: 0.203645564615 best k: 20
mean_gcs accuracy: 0.203645564615 best k: 20
(0.20364556461510813, 20)
accuracy: 0.0288583942041 best k: 46
mean_glucose accuracy: 0.0288583942041 best k: 46
(0.028858394204136585, 46)
accuracy: 0.350347928361 best k: 18
mean_hco3 accuracy: 0.350347928361 best k: 18
(0.35034792836107587, 18)
accuracy: 0.16623157253 best k: 41
mean_hct accuracy: 0.16623157253 best k: 41
(0.16623157253026999, 41)
accuracy: 0.136066885231 best k: 35
mean_hr accuracy: 0.136066885231 best k: 35
(0.13606688523051452, 35)
accuracy: 0.226601404218 best k: 35
mean_k accuracy: 0.226601404218 best k: 35
(0.22660140421766664, 35)
accuracy: 0.120951935352 best k: 46
mean_mg accuracy: 0.120951935352 best k: 46
(0.12095193535204911, 46)
accuracy: 0.0837829317291 best k: 31
mean_na accuracy: 0.0837829317291 best k: 31
(0.083782931729132357, 31)
accuracy: 0.614678707945 best k: 13
mean_nidiasabp accuracy: 0.614678707945 best k: 13
(0.61467870794452073, 13)
accuracy: 0.799074417988 best k: 10
mean_nimap accuracy: 0.799074417988 best k: 10
(0.79907441798788836, 10)
accuracy: 0.479485922519 best k: 17
mean_nisysabp accuracy: 0.479485922519 best k: 17
(0.4794859225187606, 17)
accuracy: 0.40163544286 best k: 9
mean_paco2 accuracy: 0.40163544286 best k: 9
(0.40163544285950853, 9)
accuracy: 0.111286021619 best k: 24
mean_pao2 accuracy: 0.111286021619 best k: 24
(0.11128602161854842, 24)
accuracy: -24.9207078922 best k: 51
mean_ph accuracy: -24.9207078922 best k: 51
(-24.920707892175791, 51)
accuracy: 0.0912651705636 best k: 49
mean_platelets accuracy: 0.0912651705636 best k: 49
(0.091265170563644221, 49)
accuracy: 0.0956271130096 best k: 49
mean_temp accuracy: 0.0956271130096 best k: 49
(0.095627113009622899, 49)
accuracy: 0.133683543128 best k: 51
mean_urine accuracy: 0.133683543128 best k: 51
(0.13368354312775296, 51)
accuracy: 0.0942643467068 best k: 31
mean_wbc accuracy: 0.0942643467068 best k: 31
(0.094264346706828012, 31)
accuracy: 0.0708490946018 best k: 41
mean_weight accuracy: 0.0708490946018 best k: 41
(0.070849094601784096, 41)

<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:20px;">

<p>

From the various k values, I will be taking the mean of the k values with R2 > 0.4
<br>
(The optimal k value that can account for most predictions with at least estimated 40% accuracy)
<br>

</p>
</div>

In [75]:
optimal_ks = pd.DataFrame(best_ks,index=feature_list,columns=['accuracy','best_k'])
optimal_ks.sort_values('accuracy',ascending=False,inplace=True)
optimal_ks[optimal_ks['accuracy'] > 0.4]     # for accuracy more than 0.4

                 accuracy  best_k
mean_nimap       0.799074      10
mean_nidiasabp   0.614679      13
mean_nisysabp    0.479486      17
mean_bun         0.457917       8
mean_creatinine  0.427826       8
mean_paco2       0.401635       9

In [80]:
optimal_k = round(np.mean(optimal_ks[optimal_ks['accuracy'] > 0.4]['best_k']))
optimal_k

11.0

<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:20px;">

<p>

Use optimal K = 11 on KNN fancyimpute

</p>
</div>

In [81]:
# Standard Scale 

mortality_predictors = mortality.drop('in-hospital_death',axis=1)

masked_mortality_predictors = np.ma.array(mortality_predictors, mask=np.isnan(mortality_predictors))

masked_mean = np.mean(masked_mortality_predictors)
masked_std = np.std(masked_mortality_predictors)

norm_mortality_predictors = (masked_mortality_predictors - masked_mean)/masked_std

mortality_scaled = pd.DataFrame(data=norm_mortality_predictors,
                                columns=mortality_predictors.columns,
                                index=mortality_predictors.index)

In [82]:
mortality_filled_knn = KNN(k=11).complete(mortality_scaled)   # impute using fancyimpute's KNN

Imputing row 1/3965 with 20 missing, elapsed time: 13.936
Imputing row 101/3965 with 0 missing, elapsed time: 14.064
Imputing row 201/3965 with 0 missing, elapsed time: 14.091
Imputing row 301/3965 with 0 missing, elapsed time: 14.117
Imputing row 401/3965 with 0 missing, elapsed time: 14.136
Imputing row 501/3965 with 0 missing, elapsed time: 14.169
Imputing row 601/3965 with 0 missing, elapsed time: 14.189
Imputing row 701/3965 with 0 missing, elapsed time: 14.217
Imputing row 801/3965 with 20 missing, elapsed time: 14.245
Imputing row 901/3965 with 15 missing, elapsed time: 14.270
Imputing row 1001/3965 with 0 missing, elapsed time: 14.296
Imputing row 1101/3965 with 0 missing, elapsed time: 14.318
Imputing row 1201/3965 with 0 missing, elapsed time: 14.348
Imputing row 1301/3965 with 0 missing, elapsed time: 14.394
Imputing row 1401/3965 with 15 missing, elapsed time: 14.424
Imputing row 1501/3965 with 0 missing, elapsed time: 14.451
Imputing row 1601/3965 with 15 missing, elapsed time: 14.467
Imputing row 1701/3965 with 0 missing, elapsed time: 14.490
Imputing row 1801/3965 with 15 missing, elapsed time: 14.522
Imputing row 1901/3965 with 15 missing, elapsed time: 14.546
Imputing row 2001/3965 with 15 missing, elapsed time: 14.571
Imputing row 2101/3965 with 55 missing, elapsed time: 14.592
Imputing row 2201/3965 with 0 missing, elapsed time: 14.620
Imputing row 2301/3965 with 20 missing, elapsed time: 14.656
Imputing row 2401/3965 with 0 missing, elapsed time: 14.688
Imputing row 2501/3965 with 15 missing, elapsed time: 14.707
Imputing row 2601/3965 with 20 missing, elapsed time: 14.732
Imputing row 2701/3965 with 5 missing, elapsed time: 14.752
Imputing row 2801/3965 with 15 missing, elapsed time: 14.780
Imputing row 2901/3965 with 0 missing, elapsed time: 14.802
Imputing row 3001/3965 with 0 missing, elapsed time: 14.827
Imputing row 3101/3965 with 0 missing, elapsed time: 14.863
Imputing row 3201/3965 with 15 missing, elapsed time: 14.886
Imputing row 3301/3965 with 15 missing, elapsed time: 14.904
Imputing row 3401/3965 with 5 missing, elapsed time: 14.941
Imputing row 3501/3965 with 15 missing, elapsed time: 14.966
Imputing row 3601/3965 with 0 missing, elapsed time: 14.992
Imputing row 3701/3965 with 15 missing, elapsed time: 15.019
Imputing row 3801/3965 with 15 missing, elapsed time: 15.053
Imputing row 3901/3965 with 15 missing, elapsed time: 15.075

In [83]:
mortality_filled_knn = pd.DataFrame(data=mortality_filled_knn,
                                columns=mortality_predictors.columns,index=mortality_predictors.index)
mortality_filled_knn.isnull().sum()

recordid            0
age                 0
first_bun           0
first_creatinine    0
first_gcs           0
first_glucose       0
first_hco3          0
first_hct           0
first_hr            0
first_k             0
first_mg            0
first_na            0
first_nidiasabp     0
first_nimap         0
first_nisysabp      0
first_paco2         0
first_pao2          0
first_ph            0
first_platelets     0
first_temp          0
first_urine         0
first_wbc           0
first_weight        0
gender              0
icutype             0
last_bun            0
last_creatinine     0
last_gcs            0
last_glucose        0
last_hco3           0
last_hct            0
last_hr             0
last_k              0
last_mg             0
last_na             0
last_nidiasabp      0
last_nimap          0
last_nisysabp       0
last_paco2          0
last_pao2           0
last_ph             0
last_platelets      0
last_temp           0
last_urine          0
last_wbc            0
last_weight         0
max_bun             0
max_creatinine      0
max_gcs             0
max_glucose         0
max_hco3            0
max_hct             0
max_hr              0
max_k               0
max_mg              0
max_na              0
max_nidiasabp       0
max_nimap           0
max_nisysabp        0
max_paco2           0
max_pao2            0
max_ph              0
max_platelets       0
max_temp            0
max_urine           0
max_wbc             0
max_weight          0
mean_bun            0
mean_creatinine     0
mean_gcs            0
mean_glucose        0
mean_hco3           0
mean_hct            0
mean_hr             0
mean_k              0
mean_mg             0
mean_na             0
mean_nidiasabp      0
mean_nimap          0
mean_nisysabp       0
mean_paco2          0
mean_pao2           0
mean_ph             0
mean_platelets      0
mean_temp           0
mean_urine          0
mean_wbc            0
mean_weight         0
min_bun             0
min_creatinine      0
min_gcs             0
min_glucose         0
min_hco3            0
min_hct             0
min_hr              0
min_k               0
min_mg              0
min_na              0
min_nidiasabp       0
min_nimap           0
min_nisysabp        0
min_paco2           0
min_pao2            0
min_ph              0
min_platelets       0
min_temp            0
min_urine           0
min_wbc             0
min_weight          0
dtype: int64

In [84]:
mortality_filled_knn.to_csv('mortality_filled_knn.csv')